/* Header.css */

<<<<<<< HEAD
body {
  font-family: 'Bebas Neue', sans-serif;
}

=======
>>>>>>> d81746dd95f55e197289aa54239f09519dfbab14
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #eaeaea;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .add-task-button {
<<<<<<< HEAD
    background-color: #800080;
=======
    background-color: #800080; /* Purple color */
>>>>>>> d81746dd95f55e197289aa54239f09519dfbab14
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-task-button:hover {
<<<<<<< HEAD
    background-color: #6a006a; 
=======
    background-color: #6a006a; /* Darker purple on hover */
>>>>>>> d81746dd95f55e197289aa54239f09519dfbab14
  }
  