body {
  font-family: 'Bebas Neue', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #eaeaea;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .add-task-button {
    background-color: #6200ea; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.6s;
  }
  
  .add-task-button:hover {
    background-color: #5300d6; 
    transform: scale(1.03);
  }
  