<<<<<<< HEAD

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
=======
/* src/index.css */
>>>>>>> d81746dd95f55e197289aa54239f09519dfbab14

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
<<<<<<< HEAD

=======
>>>>>>> d81746dd95f55e197289aa54239f09519dfbab14
}
